{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "extends": ["airbnb", "plugin:prettier/recommended", "plugin:jest/recommended"],
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "import/prefer-default-export": "off",
        "react/jsx-props-no-spreading": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    }
}